/*? General Styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? Always full-screen body with a flex property for easy alignment*/

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  height: 100%;
}

/*? Main container*/

#container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#container h1 {
  font-size: 50px;
  margin: auto 30px;
}

#container h2 {
  font-size: 40px;
  margin: auto 30px;
}

#container p {
  word-wrap: break-word;
  font-size: 30px;
}

/*? Dynamic Colors*/

/** Body component*/

/*! DarkMode */

.darkmode {
  background: radial-gradient(50% 50% at 50% 50%, #525252 0%, #363636 100%);
  color: #e4dfdf;
}

/*! LightMode */

.lightmode {
  background: radial-gradient(50% 50% at 50% 50%, #ebebeb, 0%, #f4f4f4 100%);
  color: #1a1a1a;
}

/** Link colors*/

/*! DarkMode */

.darkmode a {
  color: #e4dfdf;
}

/*! LightMode */

.lightmode a {
  color: #1a1a1a;
}

/** Side Button outline*/

/*! DarkMode */

.darkmode .side_button {
  background: linear-gradient(
    124deg,
    #e4dfdf 13.01%,
    rgba(234, 223, 223, 0) 116.62%
  );
}

.darkmode .side_button:hover {
  background: #ee1d1d;
}

/*! LightMode */

.lightmode .side_button {
  background: #ee1d1d;
}

.lightmode .side_button:hover {
  background-color: #484848;
}

/** Side Button inner*/

/*! DarkMode */

.darkmode .fill {
  background-color: #484848;
}

.darkmode .side_button:hover .fill {
  background-color: #e4dfdf;
}

/*! LightMode */

.lightmode .fill {
  background-color: #e4dfdf;
}

.lightmode .side_button:hover .fill {
  background-color: #484848;
}

/** Side Button SVGs*/

/*! DarkMode */

.darkmode .dark {
  display: none;
}

.darkmode .light {
  display: flex;
}

.darkmode .side_button:hover .dark {
  display: block;
}

.darkmode .side_button:hover .light {
  display: none;
}

/*! LightMode */

.lightmode .dark {
  display: block;
}

.lightmode .light {
  display: none;
}

.lightmode .side_button:hover .dark {
  display: none;
}

.lightmode .side_button:hover .light {
  display: block;
}

/** Start Page Header*/

/*! DarkMode */

.darkmode #first header {
  color: #e4dfdf;
}

/*! LightMode */

.lightmode #first header {
  color: #1a1a1a;
}

/** Form window*/

/*! DarkMode */

.darkmode .window {
  background-color: #484848;
}

/*! LightMode */

.lightmode .window {
  background-color: #ebebeb;
}

/** Form Fields*/

/*! DarkMode */

.darkmode input {
  color: #e4dfdf;
  background-color: #484848;
}

.darkmode input[type="submit"]:hover {
  background-color: #353535;
}

/*! LightMode */

.lightmode input {
  background-color: #ebebeb;
  color: #1a1a1a;
}

.lightmode input[type="submit"]:hover {
  background-color: #cccccc;
}

/*? Side Button*/

/** Outline and General style*/

.side_button {
  position: fixed;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  right: 35px;
  top: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.side_button:hover {
  transition: background 0.5s;
}

/** Inner fill */

.fill {
  position: relative;
  background-color: #484848;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  left: 2px;
  top: 2px;
}

.side_button:hover .fill {
  transition: background-color 0.5s;
}

/** SVGs */

.fill img {
  position: relative;
  width: 70%;
  height: 70%;
  top: 5px;
  left: 5px;
}

.dark,
.light {
  position: fixed;
}

/*? General page styling*/

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Window*/

.window {
  width: 50%;
  max-width: 650px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #1a1a1a;
  border-radius: 25px;
  padding: 25px 20px;
  padding-bottom: 15px;
}

/** Form*/

.window form {
  display: flex;
  flex-direction: column;
}

/** Inputs*/

input {
  border-radius: 15px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #1a1a1a;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px 15px;
  margin: 12px;
}

input[type="text"]:focus {
  transition: all 0.3s;
  border-color: #ee1d1d;
}

input[type="submit"] {
  display: block;
  font-size: 32px;
  padding: 12px 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: background-color 0.2s;
}
